{% extends 'basic.html' %}
{% load static %}
{% block title%} About Us {% endblock %}
{% block body %}
<br><br><br>
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                <div class="col-lg-6">
                    <h2>MediCare</h2>
                    <h3>About Us</h3>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        MediCare is undergoing bold expansion, modernization and enhancement that reflects our promise
                        to meet the changing healthcare needs of our community.This indigenous healthcare startup
                        thrived in native soil is a vital regional health network today that serves in over 6 regions.

                        Today, the MediCare purpose remains steadfast: respond to our communities, their families and
                        their healthcare demands with the highest possible level of medical professionalism, advanced
                        technology, and professional care.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Certified Doctors and Specialists </li>
                        <li><i class="ri-check-double-line"></i> Certified Hospital Collaboration</li>
                        <li><i class="ri-check-double-line"></i> Safe and Secure for private User data</li>
                    </ul>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <div class="container">
        <div class="section-title">
            <h2>Vision</h2>
            <p>Improve health outcomes for consumers by making it simple, personal, accessible and affordable</p>
        </div>
        <div class="section-title">
            <h2>Mission</h2>
            <p>Use technology to make Medlife the trusted partner for 100+ million customers for all of their healthcare
                needs.</p>
        </div>

    </div>



</main><!-- End #main -->
{% endblock %}