{% extends 'basic.html' %}
{% block title%}Items Checkout{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
        
              <div class="d-flex justify-content-between align-items-center">
                <h2><strong>Cart</strong></h2>
              </div>
        
            </div>
          </section>
        <div id="items">
            <ul class="list-group" style="list-style:disc">
                
            </ul>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-primary badge-pill">
                    <h5><strong>Total Price : Rs.<span id="totalPrice"></span></strong></h5>
                </span>
            </li>

        </div>
    </div>
    <div class="col my-4">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
        
              <div class="d-flex justify-content-between align-items-center">
                <h2><strong>Enter Shipping Details</strong></h2>
              </div>
        
            </div>
          </section>
        <form method="post" action="/orders/checkout/">
            {% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <input type="hidden" name="amount" id="amount">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input name="name" type="name" class="form-control" id="inputname" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Email Address</label>
                <input name="email" type="text" class="form-control" id="inputAddress" >
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input name="address" type="text" class="form-control" id="inputAddress" >
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input name="city" type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input name="state" type="text" class="form-control" id="inputAddress2" placeholder="Enter State">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Pin Code</label>
                    <input name="pin" type="text" class="form-control" id="inputZip">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip">Phone Number</label>
                <input name="phone"type="tel" class="form-control" id="inputPhone">
            </div>
            <button type="submit" class="btn btn-primary">Place Order</button>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }

    var sum = 0;
    var totalPrice = parseFloat("0.00");
    if ($.isEmptyObject(cart)) {
        //if cart is empty
        mystr = "<p>Your cart is empty! </p>"
        $('#items').append(mystr);
    }
    else {
        console.log(cart)
        for (var item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2]
            sum = sum + qty;
            totalPrice=totalPrice + parseFloat(qty) * parseFloat(itemPrice)
            mystr = `        <li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                    <span class="badge badge-primary badge-pill">qyt : ${qty}</span>
                </li>`
            $('#items').append(mystr);
        }
        console.log(totalPrice);
        priceStr = ` ${totalPrice}`
        $('#totalPrice').append(priceStr);    
    }
    
    document.getElementById('cart').innerHTML = sum;


    $('#itemsJson').val(JSON.stringify(cart));
    {% if thank %}
    alert("Thanks for ordering with us. Your order id is {{id}}. Use it to track your order using our order tracker")
    localStorage.clear();
    document.location="/";
    {% endif %}
    $('#amount').val($('#totalPrice').html())
</script>
{% endblock %}