{% extends 'basic.html' %}
{% block title%} My Awesome Cart Tracker{% endblock %}
{% block body %}
<br><br><br><br>
<div class="container">
    <!-- {{response}} -->
    <div class="col my-4">

        <!-- <h2>Payment status regarding your order Id {{response.ORDERID}}</h2> -->
        {% if response.RESPCODE == '01' %}
        <h3 style="font-family: Arial, Helvetica, sans-serif;">ORDER SUCCESSFUL</h3><br>
        <a href="/orders/tracker/">Track Your Orders Here</a>
        {% else %}
        ORDER FAIL
        {% endif%}

    </div>

</div>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}
